<!-- testimonials -->
<section class="testimonials" id="testi">
    <div class="layer py-lg-5">
        <div class="container py-5">
            <h3 class="heading mb-5">What Parents Say About Us</h3>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="testi-info-text">
                            <h4>Best Education i have ever seen</h4>
                            <p>
                                <span class="fa fa-quote-left"></span> Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat. Donec rutrum.
                                <span class="fa ml-2 fa-quote-right"></span>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="images/ts1.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4> John Elisa </h4>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="testi-info-text">
                            <h4>Best Education i have ever seen</h4>
                            <p>
                                <span class="fa fa-quote-left"></span> Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat. Donec rutrum.
                                <span class="fa ml-2 fa-quote-right"></span>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="images/ts2.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>Watson Mary</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->