<!-- Team  -->
<section class="team pt-5" id="team">
    <div class="container py-lg-5">
        <h3 class="heading mb-sm-5 mb-4">Our Teachers</h3>
        <div class="row">
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="assets/images/team1.jpg" class="" alt="" />
                <div class="team-info text-center">
                    <h3 class="e">Tyson Amery</h3>
                    <span class="">Maths Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="assets/images/team2.jpg" class="" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Stas Melnik</h3>
                    <span class="">English Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="assets/images/team3.jpg" class="" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Lise Laurie</h3>
                    <span class="">Physics Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="assets/images/team4.jpg" class="" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Effie Eleanora</h3>
                    <span class="">History Teacher</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Team -->