<!-- what we Serve -->
<section class="banner-bottom py-5" id="about">
    <div class="container py-lg-5">
        <div class="section-title">
            <h2>Build Your Career with Our <span>Education System</span></h2>
        </div>
        <div class="row bottom-grids">
            <div class="col-md-3 col-sm-6">
                <div class="three-grids-w3pvt-1 d-flex text-right">
                    <div class="text-effect-wthree midd-text-w3ls p-3 w-100">
                        <h5 class="text-capitalize text-bl font-weight-bold">Facillities</h5>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-sm-0 mt-4">
                <div class="three-grids-w3pvt-2 d-flex text-right">
                    <div class="text-effect-wthree midd-text-w3ls p-3 w-100">
                        <h5 class="text-capitalize text-bl font-weight-bold">Graduation</h5>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-4">
                <div class="three-grids-w3pvt-3 d-flex text-right">
                    <div class="text-effect-wthree midd-text-w3ls p-3 w-100">
                        <h5 class="text-capitalize text-bl font-weight-bold">Learning</h5>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-4">
                <div class="three-grids-w3pvt-4 d-flex text-right">
                    <div class="text-effect-wthree midd-text-w3ls p-3 w-100">
                        <h5 class="text-capitalize text-bl font-weight-bold">Success</h5>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="mt-4">Vivamus mattis ex massa. Morbi sed dui imperdiet, tinci dunt libero a, sagittis enim. Donec lobortis cursuser uti justo, at eleifend eros init ultricies sed. Vivamus efficit ur urna vitae tempus aliquam. Proin aliquet dictum est molestie
                    maximus sapien leo cursus rhoncus.</p>
            </div>
            <div class="col-lg-1 col-sm-4 col-5 ser-img">
                <img src="images/s1.png" class="mt-4" alt="">
                <img src="images/s2.png" class="mt-4" alt="">
            </div>
            <div class="col-lg-1 col-sm-4 col-5 ser-img">
                <img src="images/s3.png" class="mt-4" alt="">
                <img src="images/s5.png" class="mt-4" alt="">
            </div>
            <div class="col-lg-5">
                <p class="mt-4"> Vivamus efficitur ur vitae tempus aliquam. Proin aliquet dictum est, molestie maximus sapien maximus a. Fuscer eleifend. convallis vitae enim eu egestas. Quisque placi rati enim nibh, vitae faucibus odio vestibulum pretium. Sed malesuada
                    libero sed commodo varius. </p>
            </div>
        </div>
    </div>
</section>
<!-- //what we Serve -->