<!-- banner form -->
<form action="#" method="post">
    <h5 class="mb-3">Register and Join in our school</h5>
    <div class="form-style-w3ls">
        <input placeholder="Student Name" name="name" type="text" required="">
        <input placeholder="Your Email Id" name="email" type="email" required="">
        <input placeholder="Contact Number" name="number" type="text" required="">
        <select>
          <option value="0">Class or Standard</option>
          <option value="1">class 6th</option>
          <option value="1">class 7th</option>
          <option value="1">clas 8th</option>
          <option value="1">classs 9th</option>
          <option value="1">class 10th</option>
          <option value="1">Other</option>
        </select>
        <!--<input placeholder="Password" name="password" type="password" required=""> -->
        <button Class="btn"> Get Started</button>
        <span>By registering, you agree to our <a href="#">Terms & Conditions.</a></span>
    </div>
</form>
<!-- //banner form -->