<!-- banner form -->
<form action="#" method="post">
    <h5 class="mb-3" style="text-align: center;">Register and Join in our Web Lessons</h5>
    <div class="form-style-w3ls">
        <input placeholder="Student Name" name="name" type="text" required="">
        <input placeholder="Your Email Id" name="email" type="email" required="">
        <input placeholder="Contact Number" name="number" type="text" required="">

        <!--<input placeholder="Password" name="password" type="password" required=""> -->
        <button Class="btn"> Get Started</button>
        <span>By registering, you agree to our <a href="#">Terms & Conditions.</a></span>
    </div>
</form>
<!-- //banner form -->