<!-- subscribe -->
<section class="subscribe" id="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 d-flex subscribe-left p-sm-5 py-4">
                <div class="image mr-3">
                    <img src="images/mail.png" alt="" class="img-fluid">
                </div>
                <div class="text">
                    <h3>Subscribe To Our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7 subscribe-right p-sm-5 py-3">
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Enter your email here" required="">
                    <button class="btn1"><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                </form>
                <p>we never share your email with anyone else</p>
            </div>
        </div>
    </div>
</section>
<!-- //subscribe -->