<header>
    <div class="top-head container">
        <div class="ml-auto text-right right-p">
            <ul>
                <li class="mr-3">
                    <span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
                <li>
                    <span class="fa fa-envelope-open"></span> <a href="mailto:daoduvictor48@gmail.com">daoduvictor48@gmail.com</a> </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- Navbar app component -->
        <app-navbar></app-navbar>
    </div>
</header>
<!-- //header -->