<!-- services -->
<section class="services py-5" id="services">
    <div class="container">
        <h3 class="heading mb-5">Our Services</h3>
        <div class="row ml-sm-5">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s1.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Quality Education</h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s2.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Experienced Staff</h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s3.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Ac Classrooms</h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s4.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Study Certificate</h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s5.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Study Materials </h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="assets/images/s6.png" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Library Books</h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- positioned image -->
        <div class="position-image">
            <img src="assets/images/services.png" alt="" class="img-fluid">
        </div>
        <!-- //positioned image -->
    </div>
</section>
<!-- //services -->