<!-- banner slider-->
<div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <ul class="banner_slide_bg">
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h4 class="b-w3ltxt text-capitalize mt-md-4" style="font-weight: bold;">GROW YOUR WEB DEVELOPMENT SKILLS.</h4>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">Learn how to develop effective and captivating websites using the latest web development tools and practices.</p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h4 class="b-w3ltxt text-capitalize mt-md-4" style="font-weight: bold;">GROW YOUR WEB DEVELOPMENT SKILLS.</h4>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">Gain experience developing with HTML, JavaScript, CSS, Python, and more. </p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h4 class="b-w3ltxt text-capitalize mt-md-4" style="font-weight: bold;">GROW YOUR WEB DEVELOPMENT SKILLS.</h4>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">Our expert authors guide you through development and testing via easy-to-follow web development courses.</p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="navigation">
        <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
        </div>
    </div>
</div>
<!-- //banner slider-->