<!-- banner slider-->
<div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <ul class="banner_slide_bg">
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h3 class="b-w3ltxt text-capitalize mt-md-4">Education Courses.</h3>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi. Vestibulum ante. Morbi at dui nisl.</p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h3 class="b-w3ltxt text-capitalize mt-md-4">Education Courses.</h3>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi. Vestibulum ante. Morbi at dui nisl.</p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="w3ls_banner_txt">
                    <h3 class="b-w3ltxt text-capitalize mt-md-4">Education Courses.</h3>
                    <h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
                    <p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi. Vestibulum ante. Morbi at dui nisl.</p>
                    <a href="#about" class="btn btn-banner my-3">Read More</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="navigation">
        <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
        </div>
    </div>
</div>
<!-- //banner slider-->