<!-- banner -->
<div class="banner" id="home">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 banner-text-w3pvt">
                    <!-- App banner-slider component  -->
                    <app-banner-slider></app-banner-slider>
                </div>
                <div class="col-lg-5 col-md-8 px-lg-3 px-0">
                    <div class="banner-form-w3 ml-lg-5">
                        <div class="padding">
                            <!-- App banner-form component -->
                            <app-banner-form></app-banner-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->