<!-- nav -->
<nav class="py-3 d-lg-flex fixed-nav-bar" id="navbar">
    <div id="logo">
        <h1>
            <a href="index.html"><img src="images/s2.png" alt="">Easy Code </a>
        </h1>
    </div>
    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu ml-auto mt-1">
        <li class="active"><a href="index.html">Home</a></li>
        <li class=""><a href="#about">About</a></li>
        <li class=""><a href="#services">Services</a></li>
        <li class=""><a href="#team">Instructors</a></li>
        <li class=""><a href="#contact">Contact</a></li>
        <li class=""><a href="#stats">Stats</a></li>
        <li class=""><a href="#subscribe">Subscribe</a></li>
    </ul>
</nav>
<!-- //nav -->